@import 'font.css';

$sub-title-color: #898F8F;
$accent-color: #FC0;
$text-color: #333333;
$title-color: #666;
$socials-color: #CCCCCC;

@mixin corner ($x-pos, $y-pos) {
    position: absolute;
    content: '';
    display: block;
    width: 23.26%;
    aspect-ratio: 1;
    border-#{$x-pos}: 1px solid $accent-color;
    border-#{$y-pos}: 1px solid $accent-color;

}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a,
button {
    transition: all .2s ease;
}

button {
    cursor: pointer;
}



.container {
    width: min(90%, 1170px);
    padding-top: 121px;
    margin: 0 auto;
}

body {
    font-family: Raleway;
    font-size: 1rem;
    color: $text-color;
    font-family: sans-serif;
}



hgroup {
    max-width: 450px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;


    p {
        font-size: 1.125rem;
        font-weight: 500;
        line-height: 1.5rem;
        text-transform: uppercase;
        color: $sub-title-color;
        margin: 0 auto;
        margin-bottom: 16px;
    }

    h1 {
        color: $accent-color;
        text-align: center;
        font-family: Roboto;
        font-size: 3.75rem;
        font-weight: 900;
        line-height: 4.125rem;
        text-transform: uppercase;
        padding-bottom: 40px;
        border-bottom: 1px solid $accent-color;
        position: relative;

        &::after {
            content: "";
            display: block;
            width: 30px;
            height: 20px;
            background: #fff url(../images/soc-logos/bonfire-sharp.svg) no-repeat center center;
            position: absolute;
            bottom: -10px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

.content-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;



    .photo-container {
        max-width: 585px;
        padding: 94px 14.53% 65px 11.97%;
        border-right: 1px solid $accent-color;
    }

    .inner-wrap {
        max-width: 430px;
        aspect-ratio: 1;
        position: relative;

        &::before {
            position: absolute;
            @include corner(left, top);
            top: 0;
            left: 0;
        }

        &::after {
            position: absolute;
            @include corner(top, right);
            top: 0;
            right: 0;
        }

        .inner-wrap-2 {
            width: 100%;
            height: 100%;
            padding: 15px;
            position: relative;

            &::before {
                position: absolute;
                @include corner(left, bottom);
                bottom: 0;
                left: 0;
            }

            &::after {
                position: absolute;
                @include corner(right, bottom);
                bottom: 0;
                right: 0;
            }


            img {
                vertical-align: top;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .content {
        max-width: 585px;
        padding: 99px 11.97% 65px 14.53%;
        text-align: center;

        h2 {
            font-family: Roboto;
            color: $title-color;
            text-align: center;
            font-size: 2.25rem;
            font-weight: 900;
            text-transform: capitalize;
            margin-bottom: 52px;
            position: relative;

            &::after {
                content: '';
                display: block;
                width: 100px;
                height: 1px;
                background-color: $accent-color;
                position: absolute;
                bottom: -22px;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        .position {
            color: $title-color;
            text-align: center;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 2.25rem;
            text-transform: capitalize;
            margin-bottom: 22px;
        }

        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
            margin-bottom: 47px;


            a {
                display: inline-block;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                border: 2px solid $socials-color;

                svg {
                    width: 100%;
                    height: 100%;
                    fill: $socials-color;
                }

                &:hover {

                    border-color: $accent-color;

                    svg {
                        fill: $accent-color;
                    }
                }
            }
        }

    }

    p {
        text-align: center;
        max-width: 430px;
        text-align: center;
        font-size: 0.875rem;
        font-weight: 500;
        line-height: 1.5rem;
        color: $text-color;
        padding-bottom: 20px;
        margin-bottom: 29px;
        position: relative;

        &::after {
            position: absolute;
            content: '';
            display: block;
            width: 40px;
            height: 4px;
            // background-color: #FC0;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
            background: linear-gradient(to right, $accent-color 0%, $accent-color 20%, transparent 20%, transparent 30%, $accent-color 30%, $accent-color 70%, transparent 70%, transparent 80%, $accent-color 80%, $accent-color 100%, );
        }
    }

    .btn {

        color: $title-color;
        text-align: center;
        font-family: "Open Sans";
        font-size: 0.875rem;
        font-weight: 700;
        line-height: 0.875rem;
        text-transform: uppercase;

        width: 98px;
        height: 14px;
        padding: 5px 10px;
        border: 1px solid $accent-color;
        text-decoration: none;
        background-color: #fff;

        &:hover {
            cursor: pointer;
            background-color: $accent-color;
        }

    }
}