@import url('font.css');

html {
    scroll-behavior: smooth;
    overflow-y: scroll;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a,
button {
    transition: all .2s ease;
}

button {
    cursor: pointer;
}

img {
    vertical-align: top;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

body {
    color: #000;
    font-family: "PT Sans";
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 3rem;
    transition: all 1s ease;
}

section {
    margin-bottom: 70px;
    scroll-margin-top: 185px;


    &:last-child {
        margin-bottom: 90px;
    }

    &::before {
        content: "";
        display: block;
        width: 100px;
        height: 8px;
        background-color: #000000;
        margin-bottom: 20px;
    }
}

h2 {
    font-family: "Francois One";
    font-size: 2.25rem;
    line-height: 3rem;
    letter-spacing: 0.09rem;
    text-transform: uppercase;
    margin-right: 10px;
    margin-bottom: 33px;
}

.container {
    width: min(90%, 1200px);
    margin: 0 auto;

    &.wrapper {
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }
}



header {
    width: 100%;
    padding: 13px 0 83px;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1000;
    background-color: #fff;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    div:first-child {
        margin-right: 50px;
        font-family: Tourney;
        font-size: 1.375rem;
        line-height: 1.125rem;
        letter-spacing: 0.055rem;
    }

    div:nth-child(2) {
        flex-grow: 1;
        text-align: left;
        font-family: Staatliches;
        font-size: 1.375rem;
        letter-spacing: 0.04125rem;
    }

    div span:nth-child(2) {
        margin: 0 10px;
    }
}

.nav-title {
    color: #000;
    font-family: Staatliches;
    font-size: 1.375rem;
    font-weight: 400;
    letter-spacing: 0.04125rem;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

main {
    padding-top: 185px;
    background: url("../images/bg-picture.png") no-repeat right 0 top 185px;
    background-attachment: fixed;
}

.chapter {
    font-family: "Farro";
    font-size: 1.1rem;
    letter-spacing: 0.075rem;
    margin-left: 10px;
    text-transform: none;
    height: 20px;
    position: relative;
    top: -1.5rem;
}



p {

    .underline {
        text-decoration: underline;
    }

    .bg-grey {
        background-color: #DADADA;
    }
}

.italic {
    font-style: italic;
}

.few-paragraphs p {
    margin-bottom: 40px;
}

.bold-text {
    font-weight: 700;
}


//Aside page navigation
.side-bar {
    width: 390px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    list-style: none;

    position: sticky;
    left: 0;
    top: 185px;


    li {
        padding-bottom: 10px;
        border-bottom: 1px solid #BDBDBD;

        a {
            color: #000;
            font-family: "Francois One";
            font-size: 2.25rem;
            font-weight: 400;
            line-height: 3rem;
            letter-spacing: 0.09rem;
            text-transform: uppercase;
            text-decoration: none;
        }

    }
}

//End of Aside page navigation

//Whos using styles:

.whos-using {

    position: relative;
    margin-left: 120px;

    &::before {
        content: "";
        display: block;
        width: 100px;
        height: 8px;
        background-color: #000000;
        margin-bottom: 20px;
        position: absolute;
        top: 50%;
        left: -120px;


    }
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;

    li {
        background-color: #E6E6E6;
        border-radius: 8px;
        padding: 50px 30px;

        a {
            width: 100%;
            height: 100%;
        }

    }
}

//Whos using styles end