@import url('font.css');

html {
    scroll-behavior: smooth;
    overflow-y: scroll;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a,
button {
    transition: all .2s ease;
}

button {
    cursor: pointer;
}

img {
    vertical-align: top;
    // width: 100%;
    // height: 100%;
    object-fit: cover;
}

body {
    color: #000;
    font-family: "PT Sans";
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 3rem;
    transition: all 1s ease;
}

h2 {
    font-family: "Francois One";
    font-size: 2.25rem;
    line-height: 3rem;
    letter-spacing: 0.09rem;
    text-transform: uppercase;
    margin-right: 10px;
    margin-bottom: 33px;
}

.container {
    width: min(90%, 1200px);
    margin: 0 auto;
}

header {
    padding: 13px 0;
    margin-bottom: 58px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    div:first-child {
        margin-right: 50px;
        font-family: Tourney;
        font-size: 1.375rem;
        line-height: 1.125rem;
        letter-spacing: 0.055rem;
    }

    div:nth-child(2) {
        flex-grow: 1;
        text-align: left;
        font-family: Staatliches;
        font-size: 1.375rem;
        letter-spacing: 0.04125rem;
    }

    div span:nth-child(2) {
        margin: 0 10px;
    }
}

.nav-title {
    color: #000;
    font-family: Staatliches;
    font-size: 1.375rem;
    font-weight: 400;
    letter-spacing: 0.04125rem;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}



.whos-using {
    position: relative;
    padding: 0 0 20px 120px;
    border-bottom: 1px solid #E6E6E6;

    &::before {
        content: "";
        display: block;
        width: 100px;
        height: 8px;
        background-color: #000000;
        position: absolute;
        top: 21px;
        left: 0;


    }
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;

}

.flip-card {
    background-color: transparent;
    width: 270px;
    height: 180px;
    perspective: 1000px;



    &:hover .flip-card-inner {
        transform: rotateX(180deg);
    }
}





.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip {
    position: relative;

    &-card-front,
    &-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 8px;
        background-color: #E6E6E6;
        padding: 50px 30px;

        &.dark-bg {
            background-color: #1A1A1A;
        }

        svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

    }


    &-card-back {
        transform: rotateX(180deg);
        filter: invert(100%);
    }
}