@import 'fonts.css';

$text-color: #565656;
$text-color-secondary: #7B7B7B;
$title-color: #000;
$active-color: #323232;
$footer-bg-color: #F4F4F4;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a,
button {
  transition: all .2s ease;
}

button {
  cursor: pointer;
}

img {
  vertical-align: top;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  width: min(90%, 1170px);
  margin: 0 auto;
}

body {
  font-family: Lato;
  font-size: 1rem;
  font-weight: 400;
  line-height: 166%;
  letter-spacing: 0.05rem;
  color: $text-color;
}

header {
  padding: 44px 0;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .logo-wrap {
      width: 142px;
      height: 12px;
      text-align: center;
    }

    nav {
      text-align: center;
      margin-right: 100px;

      ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 42px;

        li {
          text-align: center;
          position: relative;


          a {
            font-size: 1rem;
            font-family: Lato;
            font-size: 0.875rem;
            font-weight: 400;
            letter-spacing: 0.2625rem;
            text-transform: uppercase;
            color: $title-color;
            text-align: center;
            text-decoration: none;
            position: relative;

            &:hover {
              cursor: pointer;

              &::after {
                content: "";
                display: block;
                width: 40px;
                height: 1px;
                background-color: $title-color;
                left: 50%;
                bottom: -5px;
                transform: translateX(-50%);
                position: absolute;
              }
            }
          }
        }
      }

    }

    .search {
      position: absolute;
      top: 4px;
      right: 0;
    }
  }
}

.arrow-img {
  display: inline-block;
  width: 23px;
  vertical-align: middle;
  margin-left: 10px;

  &:hover {
    cursor: pointer;
  }
}

section {
  margin-bottom: 90px;

  &.hero {
    height: 600px;
    background: url(../images/bg-image.png) no-repeat center bottom / cover;

  }
}

h1 {
  max-width: 770px;
  color: $title-color;
  font-family: 'Red Hat Display';
  font-size: 3rem;
  font-weight: 600;
  line-height: 4rem;
  letter-spacing: 0.15rem;
  padding-top: 100px;
}

h2 {
  font-family: "Red Hat Display";
  font-size: 3rem;
  font-weight: 400;
  line-height: 4rem;
  letter-spacing: 0.15rem;
  color: $title-color;
  margin-bottom: 50px;
}

h3 {
  font-family: "Red Hat Display";
  color: $title-color;
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 166%;
  letter-spacing: 0.175rem;
}

.title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;

  a {
    font-weight: 400;
    line-height: 166%;
    letter-spacing: 0.1rem;
    color: $text-color-secondary;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.content-wrap {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;

  &.col-2 {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  &.col-3 {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }

  .content-block {
    display: flex;
    gap: 30px;

    &.reverse {
      flex-direction: row-reverse;

      .description {
        padding: 85px 0 85px 120px;
      }
    }

    &.vertical {
      flex-direction: column;

      .picture,
      .description {
        width: 100%;
      }

      .picture {
        height: 260px;

      }

      .description {
        padding: 0;
      }
    }

    .picture {
      width: 50%;

    }

    .description {
      width: 50%;
      padding: 85px 120px 85px 0;

      .sup-title {
        color: $text-color-secondary;
        letter-spacing: 0.1rem;
        margin-bottom: 30px;
      }

      h4 {
        font-family: "Red Hat Display";
        font-size: 1.4375rem;
        font-weight: 500;
        line-height: 166%;
        letter-spacing: 0.14375rem;
        color: $title-color;
        margin-bottom: 15px;
      }

      .date {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $text-color-secondary;
        letter-spacing: 0.1rem;
        margin-bottom: 50px;
      }
    }
  }
}

.btn-wrap {
  padding-top: 50px;
  text-align: center;

  button {
    width: 180px;
    height: 46px;
    padding: 9.5px 45px;
    background-color: $text-color;
    color: #fff;
    border: none;

    font-family: Lato;
    font-size: 1rem;
    font-weight: 700;
    line-height: 166%;
    letter-spacing: 0.1rem;

    &:hover {
      background-color: $active-color;
    }
  }
}

.bottom-info {
  margin-bottom: 90px;
}

.bottom-content {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 230px;

  &>div {
    width: 50%;


    &:first-child {


      div {
        font-family: "Red Hat Display";
        font-size: 1.4375rem;
        font-weight: 400;
        line-height: 166%;
        letter-spacing: 0.14375rem;
        color: $title-color;
      }
    }

    &:last-child {

      div+div {
        display: inline-block;
        padding-top: 20px;
      }

      div {
        font-size: 1.1875rem;
        line-height: 2rem;
        letter-spacing: 0.05938rem;
        color: $text-color;
      }
    }

  }
}

footer {
  padding-top: 70px;
  padding-bottom: 10px;
  background-color: $footer-bg-color;
}

.footer-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contacts {
  text-align: left;
  margin-bottom: 20px;

  h5 {
    font-family: "Red Hat Display";
    font-size: 3rem;
    font-weight: 400;
    line-height: 4rem;
    letter-spacing: 0.15rem;
    color: $title-color;
    margin-bottom: 30px;
  }

  h5+p {
    margin-bottom: 15px;
  }

  p {
    color: $title-color;
    line-height: 166%;
    letter-spacing: 0.1rem;
  }
}

.soc-list {
  display: block;
  font-size: 0;

  li {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px solid $text-color;
    vertical-align: top;

    &:not(:last-child) {
      margin-right: 23px;
    }

    &:hover {
      background-color: $text-color;

      svg {
        fill: #fff;
      }

    }

    a {
      padding: 10px;
      display: block;
      height: 100%;
      width: 100%;
      text-decoration: none;
      position: relative;

      svg {
        display: block;
        position: absolute;
        margin: auto;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        fill: $text-color;
        transition: all .2s ease;
      }
    }
  }
}

.copyrihts {
  text-align: center;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 166%;
  letter-spacing: 0.075rem;
  color: $title-color;
}

// mobile navigation
.mob-nav {
  display: none;
}

@media screen and (max-width: 950px) {
  nav {
    display: none;
  }

  .search {
    display: none;
  }

  .mob-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
  }


  .content-wrap .content-block {
    &.reverse {
      .description {
        padding: 0;

        .date {
          margin-bottom: 35px;
        }
      }
    }

    .description {
      padding: 0;

      .date {
        margin-bottom: 35px;
      }
    }


  }


  .container .content-wrap {
    &.col-3 {
      grid-template-columns: 1fr;
      gap: 30px;


      .content-block {
        &.vertical {
          flex-direction: row;
          align-items: center;

          &:nth-child(2) {
            flex-direction: row-reverse;
            align-items: center;
          }
        }
      }
    }

    &.col-2 {

      .content-block {
        &.vertical {
          .picture {
            height: 160px;
          }
        }
      }
    }
  }

  .bottom-info .container .bottom-content {
    flex-direction: column;
    gap: 50px;

    &>div {
      width: 100%;

    }
  }

  footer {
    padding-bottom: 50px;
  }

  .footer-wrap {
    flex-direction: column;
    gap: 40px;
    margin-bottom: 40px;

    .contacts {
      text-align: center;
    }
  }

  .comment div {
    text-align: right;
  }
}




@media screen and (max-width: 545px) {
  h2 {
    text-align: center;
  }

  .title-row {
    flex-direction: column;
    align-items: start;
    margin-bottom: 30px;

    h3 {
      margin-bottom: 10px;
    }
  }

  .container .content-wrap {
    .content-block {
      flex-direction: column;
      align-items: center;

      .picture {
        width: 100%;
      }

      .description {
        width: 100%;
      }
    }

    &.col-3 {
      grid-template-columns: 1fr;
      gap: 30px;


      .content-block {
        &.vertical {
          flex-direction: column;
          align-items: center;

          &:nth-child(2) {
            flex-direction: column;
            align-items: center;
          }
        }
      }
    }

    &.col-2 {

      grid-template-columns: 1fr;
      gap: 30px;

      .content-block {
        &.vertical {
          .picture {
            height: 160px;
          }
        }
      }
    }
  }

  .comment div {
    text-align: left;
  }
}