*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   font-family: "Open Sans", sans-serif;
   font-size: 1.125rem;
   font-weight: 400;
}

ul, ol {
   list-style: none;
}

h1{
   color: #070707;;
   font-size: 3rem; 
   text-align: left;
   margin-bottom: 45px;
}

h2{
   font-size: 2.125rem;
   font-weight: 700;   
}

img {
   vertical-align: top;
}

header .container{
   border-bottom: 1px solid #828282;
   padding: 27.5px 0;
}

nav ul {  
   text-align:center;
   font-size: 0;   
}

nav ul li {
   display: inline-block;     
}

nav ul li:not(:last-child){
   margin-right: 40px;
}

nav ul li a{
   text-decoration: none;
   color: #828282;
   letter-spacing: 0.0225rem;
   font-size: 1.125rem;
   display: inline-block
}

nav ul li a.active{
   color: #070707;
}

nav ul li a:hover {
 color: #070707;
 transform: scale(1.15);
 /* text-shadow: 0 0 1px #070707; */
}



.first-section{
  padding: 12px 0 0 0;
}

.container{
   width: min(90%, 970px);
   margin: 0 auto;
   text-align: center;
}

section {
   padding: 100px 0;
}

.bg-grey{
    background-color: #F6F6F6;;
}

.about-me{
   margin-bottom: 44px;
}

.content {
   max-width: 480px;
   margin: 0 auto;
   font-size: 1.125rem;
   font-weight: 400;
   text-align: center;
}

.content p {
   margin-bottom: 30px;
}

.content p:last-child{
   margin-bottom: 0;
}

.skills-section{
   padding-bottom: 75px;
}

hgroup{
   margin-bottom: 50px;
}


hgroup h2 {   
   margin-bottom: 15px;
}

.skill-list{
   text-align:center;
   font-size: 0;
}

.skill-item{
   display: inline-block;
   width: 170px;
   margin-left: -1px;
}

.skill-item:not(:last-child){
   margin-right: 98px;
}

.skill-item img{
   margin-bottom: 25px;
}

.skill-title{ 
   padding: 0 30px;
   color: #828282;
   font-size: 0.875rem;
   font-weight: 700;
   letter-spacing: 0.0175rem;   
   margin-bottom: 60px;
   min-height: 38px;
}


.grey-star{
   opacity: 0.15;
}

.skill-item div{
   margin-left: -1px;
}
.skill-item div img:not(:first-child){
   margin-left: 9px;
}

.portfolio-item h2 {
     margin-bottom: 45px;
}

.portfolio-item img {
   margin-bottom: 40px;
}

.portfolio-item a {
   display: inline-block;
   max-width: 200px;
   color: #070707;
   text-decoration: underline;
   margin-bottom: 70px;
}

.portfolio-item a:hover{
   text-decoration: none;   
}

.portfolio-item:last-child a {
   max-width: 260px;
   margin-bottom: 0;
}

hgroup.contacts{
   margin-bottom: 56px;
}
hgroup.contacts h2{
   margin-bottom: 14px;
}

hgroup.contacts p{
  padding:0 100px;
}

.btn {
  display: inline-block;
  color: #fff;
  background-color: #070707;
  line-height: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  text-decoration: none;
  border: none;
  cursor: pointer;
  border-radius: 22px;
  padding: 5px 12px;
  min-width: 180px;
  border: 2px solid #070707;
  margin-bottom: 30px;
  letter-spacing: 0.1rem;
}

.btn:hover {
  color: #070707;
  background-color: #fff;
}

.contacts-list {  
   text-align:center;
   font-size: 0;
   margin-bottom: 60px;
}

.contacts-list li {
   display: inline-block;
   vertical-align: middle;   
}

.contacts-list li:not(:last-child){
   margin-right: 49px;
}

.contacts-list li a {
   opacity: 0.6;
}
.contacts-list li a:hover {
   opacity: 1;
}

.contacts-message {
   max-width: 200px;
   display: inline-block;
   font-size: 0.875rem;
   color: #828282;
}