*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   font-family: "Open Sans", sans-serif;
}

h1{
color: #070707;;
font-size: 3rem;
font-weight: 700;
text-align: left;
margin-bottom: 50px;

 }
 h2{
   font-size: 2.125rem;
   font-weight: 700;   
 }

 img {
   vertical-align: top;
 }

a{
    text-decoration: none;
    color: #828282;
 }

nav {
    height: 80px;
}

nav ul {  
    text-align:center;
    font-size: 0;
}

 nav ul li {
    display: inline-block;
    font-size: 1.125rem;    
    margin: 27px 20px;
 }

.conteiner{
    width: min(90%, 970px);
    margin: 0 auto;
    text-align: center;
    padding-top: 100px;
   
}
.novik{
   padding-top: 0;
}

.grey{
    background-color: #F6F6F6;;
}

.line{
    width: 100%;
    height: 1px;
    background-color:#828282;
    margin-bottom: 12px;
}

 /* .main-photo{
   display: block;
   width: 100%;  
} */

.about-me{
   margin-bottom: 50px;
}

.content {
   max-width: 480px;
   margin: 0 auto;
   font-size: 1.125rem;
   font-weight: 400;
   text-align: center;
   padding-bottom: 100px;

}

.content p {
   margin-bottom: 30px;
}

hgroup{
   margin-bottom: 50px;
}

hgroup h2 {
   margin-bottom: 20px;
}

.skill-list{
   text-align:center;
    font-size: 0;
}

.skill-item{
   display: inline-block;
   font-size: 1.125rem;    
   margin: 27px 20px;
}




