@import url('fonts.css');

$bg-color: #F7F7F7;
$title-color: #1C1C1C;
$main-color: #545454;
$main-secondary-color: #969696;
$accent-color: #007BFF;
$border-color: #E4E4E4;
$btn-hover-color: #0057b4;


*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a,
button {
    transition: all .2s ease;
}

a {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: $accent-color;
    color: #FFF;
    border-radius: 5px;
    text-decoration: none;

    position: absolute;
    left: 50px;
    top: 50px;

    &:hover {
        background-color: $btn-hover-color;
    }
}

button {
    cursor: pointer;
}

img {
    vertical-align: top;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

body {
    color: $main-color;
    font-family: Roboto;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.375rem;
    letter-spacing: -0.0125rem;
    background-color: $bg-color;
    padding-top: 55px;
    position: relative;
}

.container {
    width: min(90%, 570px);
    margin: 0 auto;
    background-color: #fff;
    padding: 35px 34px 16px;

}

h2 {
    color: $title-color;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2rem;
    margin-bottom: 20px;
    padding-left: 2px;
}

.input-row {
    display: flex;
    gap: 12px;
    margin-bottom: 20px;
}

.input-row>label:not(label[class='radio']) {
    display: flex;
    flex-direction: column;
    flex: 1;
}

input:not(input[type='radio']),
.select2-container--default .select2-selection--single {
    width: 100%;
    margin-top: 7px;
    height: 38px;
    padding: 7px 10px;
    border: 1px solid $border-color;
    border-radius: 5px;
    outline: none;


    font-family: Inter;
    font-size: 0.9375rem;
    font-weight: 400;


    &:focus {
        border: 1px solid $accent-color;
    }
}

input[type='email'] {
    margin-bottom: 7px;
}

label {
    padding-left: 2px;
}

span {
    color: $main-secondary-color;
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.125rem;
    letter-spacing: -0.00625rem;
}


.radio-group {
    margin-bottom: 19px;
    padding-left: 1px;
}

.radio {
    font-size: 0.9375rem;

    &:first-child {
        margin-right: 7px;
    }

    input {
        appearance: none;
        vertical-align: top;
        position: relative;


        &::before {
            display: inline-block;
            content: '';
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: #FFF;
            border: 1px solid $border-color;
            position: absolute;


        }

        &:checked {
            &::before {
                background-color: $accent-color;
                border: 1px solid $accent-color;
            }

            &::after {
                display: block;
                content: '';
                width: 8px;
                height: 8px;
                background-color: #fff;
                border-radius: 50%;
                position: absolute;
                left: 6px;
                top: 6px;
            }

        }
    }

    span {
        padding-left: 25px;
        color: $main-color;
        font-size: 0.9375rem;
        line-height: 1.375rem;
    }
}


button {
    width: 100%;
    height: 38px;
    padding: 8px 0;
    background-color: $accent-color;
    color: #FFF;
    text-align: center;
    font-size: 0.9375rem;
    font-weight: 500;
    line-height: 1.375rem;
    letter-spacing: -0.00625rem;
    border: none;
    border-radius: 5px;
    margin-bottom: 22px;

    &:hover {
        background: $btn-hover-color;
    }
}




.terms {
    padding: 0 70px 20px;
    margin: 0 auto 20px;
    color: $main-secondary-color;
    text-align: center;
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.125rem;
    letter-spacing: -0.00625rem;
    position: relative;


    .blue-text {
        color: $accent-color;
        cursor: pointer;
        font-family: Inter;
    }

    &::after {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background-color: $border-color;
        position: absolute;
        left: 0;
        bottom: 0;

    }
}

footer .container {
    text-align: center;
    margin: 0 auto;
    padding: 0;

    .blue-text {
        color: $accent-color;
        font-size: .95rem;
        font-weight: 500;
        margin-left: 17px;

        &:hover {
            cursor: pointer;
        }
    }
}



.select2-container {
    width: 100% !important;
    display: block;
}

.select2-container--default .select2-selection__arrow {
    display: none;
}

.select2-selection__rendered {
    color: $main-color;
    font-family: Inter;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.375rem;
    // letter-spacing: 0;
    padding-left: 0 !important;

}

.select2-container--default .select2-results__option {
    color: $main-secondary-color;
}

.select2-container--default .select2-selection--single .select2-selection__rendered[title="Select"] {
    color: $main-secondary-color; // серый для placeholder
}

.select2-container--default .select2-selection--single {
    width: 100%;
    position: relative;
    padding-right: 15px;
    appearance: none;
    display: flex;
    align-items: center;

    &::after {
        content: "";
        position: absolute;
        right: 7px;
        width: 18px;
        height: 18px;
        background: url('../icons/select-double-arrows.svg') no-repeat center/contain;

    }
}

//===========================
//Styles for Profile page

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.photo-wrap {
    width: 80px;
    height: 80px;
    border-radius: 50%;


    img {
        width: 80px;
        height: 80px;
    }
}

.upload {
    display: flex;
    flex-direction: row;
    gap: 10px;

    margin-bottom: 9px;
}


.fake-file {

    width: 138px;
    height: 30px;
    padding: 7px 10px;
    border: 1px solid $border-color;
    border-radius: 5px;
    outline: none;
    position: relative;

    font-family: Inter;
    font-size: 0.9375rem;
    font-weight: 400;
    background: url(../icons/Photo-camera.svg) no-repeat right 10px center;
    cursor: pointer;

    &:focus {
        border: 1px solid $accent-color;
    }

    input {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        margin-bottom: 0;
    }
}



button[type='reset'] {
    max-width: 30px;
    height: 30px;
    background-color: #FFF;
    border: 1px solid $border-color;
    background: url(../icons/Trash.svg) no-repeat center;
    margin-bottom: 0;
}


.upload-description {
    color: $border-color;
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.125rem;
    letter-spacing: -0.00625rem;
}

.update-btn {
    max-width: 150px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.profile-title {
    padding-left: 1px;
}