$bg-color: #bcbabe;
$bg-main: #f1f1f2;
$text-color-secondary: #1995ad;
$text-color: #2F281E;
$accent-color: #FF8984;

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a,
button {
    transition: all .2s ease;
    cursor: pointer;
    margin-bottom: 10px;
}

img {
    vertical-align: top;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    width: min(90%, 1000px);
    margin: 0 auto;
    padding-top: 20px;
}

body {
    font-size: 1rem;
    color: $text-color;
    font-family: 'Roboto';
}

.card {
    margin-bottom: 20px;
}

.card-body {
    text-align: start;
}

.form-control {
    max-width: 400px;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 10px;
    font-size: 1.2rem;
}

p,
label {
    padding: 0;
    margin-bottom: 5px;
    display: block;
}

a {
    font-size: 1.2rem;
}

output {
    font-size: 1.2rem;
}

.drib-wrap {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;


    .drib {

        .item-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: center;
            min-height: 135px;
        }

        p {
            margin-bottom: 10px;
        }

        .num,
        .num-rez {
            width: 60px;
            height: 60px;
            padding: 5px;
            font-size: 2rem;
            text-align: center;
            display: block;

        }
    }
}

.equal {
    font-size: 3rem;
    margin-top: 62px;
}

.rez-btn {
    margin-top: 80px;
}

.chsl1,
.chsl2 {
    position: relative;

    &::after {
        position: absolute;
        content: "";
        height: 2px;
        width: 90%;
        background-color: #2F281E;
        left: -5px;
        bottom: 4px;
    }
}


#rezChsl {
    position: relative;


    &::after {
        position: absolute;
        content: "";
        height: 2px;
        width: 50px;
        background-color: #2F281E;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        z-index: 10;
    }
}