$bg-header: #bcbabe;
$bg-main: #f1f1f2;
$text-color-secondary: #1995ad;
$text-color: #2F281E;
$accent-color: #FF8984;



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Roboto", sans-serif;
    background-color: $bg-main;
}

hgroup {
    padding: 15px 0;
    text-align: center;
    margin-bottom: 20px;
    background-color: $bg-header;
    color: $text-color;


    h1 {
        margin-bottom: 15px;
    }
}

.container {
    width: min(90%, 600px);
    margin: 0 auto;
    text-align: center;
}

ul {
    text-align: left;
    list-style: none;
}

li {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 5px;
}

a {
    text-decoration: none;
    color: $text-color;

    &:hover {
        text-decoration: underline;
        color: $text-color-secondary;
    }

    &:active {
        color: $accent-color;
    }
}