$bg-header: #bcbabe;
$bg-main: #f1f1f2;
$text-color-secondary: #1995ad;
$text-color: #2F281E;
$accent-color: #FF8984;



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Roboto", sans-serif;
    background-color: $bg-main;
}

hgroup {
    padding: 15px 0;
    text-align: center;
    margin-bottom: 20px;
    background-color: $bg-header;
    color: $text-color;


    h1 {
        margin-bottom: 15px;
    }
}

.container {
    width: min(90%, 1440px);
    margin: 0 auto;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    letter-spacing: 0.2rem;
    color: $text-color;
}

.title {
    margin-bottom: 25px;
}

.logo-wrap {
    display: flex;
    justify-content: center;
    gap: 20px;
}

ul {
    text-align: left;
    list-style: none;
}

li {
    font-size: 1.25rem;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
}

img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 5px;
}

a {
    text-decoration: none;
    color: $text-color;

    &:hover {
        text-decoration: underline;
        color: $text-color-secondary;
    }

    &:active {
        color: $accent-color;
    }
}

//Lologo colors

.html {
    fill: #f06529;
}

.css3 {
    fill: #264de4;
}

.sass {
    fill: #cc6699;
}

.js {
    fill: #f0db4f;
}

.react {
    fill: #61dafb;
}

.vue {
    fill: #42b883;
}

@media screen and (max-width:1050px) {
    .container {
        grid-template-columns: 1fr;
        width: min(90%, 650px);
    }
}