$bg-color: #bcbabe;
$bg-main: #f1f1f2;
$text-color-secondary: #1995ad;
$text-color: #2F281E;
$accent-color: #FF8984;

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a,
button {
    transition: all .2s ease;
    cursor: pointer;
    margin-bottom: 10px;
}

img {
    vertical-align: top;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    width: min(90%, 1000px);
    margin: 0 auto;
    padding-top: 20px;
}

body {
    font-size: 1rem;
    color: $text-color;
    font-family: 'Roboto';
}

.card {
    margin-bottom: 20px;
}

.card-body {
    text-align: start;
}

.form-control {
    max-width: 400px;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 10px;
    font-size: 1.2rem;
}

p,
label {
    padding: 0;
    margin-bottom: 5px;
    display: block;
}

a {
    font-size: 1.2rem;
}

.text {
    font-size: 1.4rem;
}

#text-area {
    width: 100%;
    height: 50px;
    padding: 10px;
}

span {
    display: inline-block;
}

#arrow {
    padding: 0;
    margin: 0;
    display: inline-block;
    width: 20px;
    height: 10px;
    text-align: left;
}

th {
    width: 25%;

    .asc {

        color: #717171;
        font-size: 0.7rem;
        margin-left: 7px;
        display: inline-block;
        line-height: 1.2;

        &.rotated {
            rotate: 180deg;

        }
    }

}

.filter:hover {
    cursor: pointer;
}

.card-body.resizeble {
    height: 450px;
}

#resize {
    width: 250px;
    height: 70px;
    padding: 10px;
    border: 1px solid #717171;
    text-align: center;
    position: relative;

    #corner {
        position: absolute;
        right: 0px;
        bottom: 0px;
        width: 15px;
        height: 25px;
        // border: 1px solid red;
        padding: 1px;

        &:hover {
            cursor: nwse-resize;
            ;
        }

        .resize-arrow {
            color: #717171;
            rotate: -45deg;
            font-size: 0.8rem;
        }
    }

}